<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AndroidFriends"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/head"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.AndroidFriends.src.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.AndroidFriends.src.GroupsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_groups" >
        </activity>
        <activity
            android:name="com.AndroidFriends.src.GroupSummaryActivity"
            android:label="@string/title_activity_group_summary"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupsActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.CashTransferActivity"
            android:label="@string/title_activity_cash_transfer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupSummaryActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.AddEventActivity"
            android:label="@string/title_activity_add_event"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupSummaryActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.PossibleSolution"
            android:label="@string/title_activity_possible_solution"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupSummaryActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupSummaryActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupsActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.NewGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_new_group" >
        </activity>
        <activity
            android:name="com.AndroidFriends.GroupSummaryModActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_group_summary" >
        </activity>
        <activity
            android:name="com.AndroidFriends.src.EditGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_edit_group" >
        </activity>
        <activity
            android:name="com.AndroidFriends.src.AddEventModActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_add_event" >
        </activity>
    </application>

</manifest>