<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AndroidFriends"
    android:versionCode="28"
    android:versionName="3.0.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />
    
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/head"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.AndroidFriends.src.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.AndroidFriends.src.GroupsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_groups" >
        </activity>
        <activity
            android:name="com.AndroidFriends.src.GroupSummaryActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_group_summary" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupsActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.CashTransferActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_cash_transfer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupSummaryActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.PossibleSolution"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_possible_solution" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupSummaryActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.IndividualSummaryActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_individual_summary" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupSummaryActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.HistoryActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_history" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupSummaryActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.AboutActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.AndroidFriends.src.GroupsActivity" />
        </activity>
        <activity
            android:name="com.AndroidFriends.src.NewGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_new_group" >
        </activity>
        <activity
            android:name="com.AndroidFriends.GroupSummaryModActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_group_summary" >
        </activity>
        <activity
            android:name="com.AndroidFriends.src.EditGroupActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_edit_group"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.AndroidFriends.src.AddEventActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_add_event" >
        </activity>
        <activity
            android:name="com.AndroidFriends.src.EditEventActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_edit_event"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.AndroidFriends.src.EditCashTransferActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_edit_cash_transfer"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>